*{
    margin: 0;
    padding: 0;
    font-family: 'spline sans mono', monospace;
}

nav{
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: rgba(255, 255, 255,0.2);
    top:0;
    left: 0;
    z-index: 1;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 1rem;
    margin-right: 4rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

nav ul li a:hover{
    color: rgb(111, 189, 137);
}

nav ul li a.active{
    color: rgb(111, 189, 137);
}

.hero{
    height: 100vh;
    background-image: url('/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    font-size: 3rem;
    color: white;
    text-align: center;
}


.education{
    height: 50vh;
}