body{
    background-color: #222222;
}
h2{
    text-decoration: underline;
    background-color: rgba(2, 2, 2, 0.066);
    display:inline-block
}
.Career{
    color: #FCFE34;
}
.Education{
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  background-color: rgb(154, 154, 154);
  color: white;
}
.Common{
    font-family: "Spline Sans Mono", monospace;
    color:rgb(255, 148, 34);
    background-color: rgb(78, 76, 76);
}
.degree{
    font-style: italic;
}
.Work{
    font-family: "Spline Sans Mono", monospace;
    color: rgba(0, 0, 0, 0.831);
    background-color: rgb(154, 154, 154);
}
.design1{
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;



}
.design2{
    font-family: "Italianno", cursive;
}

.design3{
   font-family: "Italianno", cursive;
   font-size: 16px;
   display: flex; 
   justify-content: space-between;

}

h1{
    text-decoration: underline;
    color: rgb(15, 110, 134);
}

.container{
    width: fit-content;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
    box-shadow: 12px 12px 15px red;
}

.flex-container{
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container div{
    padding: 10px;
}


.flex-container2{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-container2 div{
    border: 2px solid;
    padding: 10px;
    width: 100px;
}

#i1{
    display: flex;
    flex-direction: column;
    align-items: center;

}